<div class="col-12 zshadow-1" style="z-index: 99999999 !important;">
  <div class="container">
    <app-nav-bar (change)="onNavBarCLickListener($event)"></app-nav-bar>
  </div>
</div>

<div class="container">

  <app-home *ngIf="currentTabUrl=='Home'"></app-home>

  <div class="row" *ngIf="currentTabUrl=='Vender'">
    <hr>
    <div class="col-md-3">
      <app-left-aside (eventResultAction)="onCategoriasSelected($event)"></app-left-aside>
    </div>
    <div class="col-md-9">
      <app-main-content [listaProductos]="dataResult.listaProductosSelecteds"></app-main-content>
    </div>
  </div>
  <div style="height: 100vh !important;">
    <app-store-page-main *ngIf="currentTabUrl=='storev2'"></app-store-page-main>
  </div>


</div>
